body {
    background-color: whitesmoke;
    background-image: url(/static/images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1870px;
}

.full-screen {
    height: 100%;
}

.hide {display:none;}

#video  {display:block;width:530px;height:400px;margin:0 auto;rotate:0deg; position:relative;top:-0vh ;border:3px solid rgb(0, 17, 255) }
