body {
    background-color: whitesmoke;
    background-image: url('/static/images/background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hide {display:none;}

#video  {display:block;width:360px;height:340px;margin:0 auto;rotate:0deg; position:relative;top:-0vh ;border:3px solid rgb(0, 17, 255) }