{% extends 'base_mqttgate.html' %}

{% block head %}
<title>Capture</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container text-center">
        <div class="row mt-4">
            <div class="col-12">
                <h3><strong>Layanan {{ lay }}</strong></h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3>Nomor Antrian Anda adalah</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3><strong>{{ ks }} {{ queue_number }}</strong></h3>
            </div>
        </div>
        <!-- QRCode ditampilkan -->
        <div class="row mt-4">
            <div class="col-12">                
                <img src="{{ url_for('static', filename=qr_code_path) }}" alt="QR Code" style="width: 200px;">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3>Mohon sabar menunggu</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3>{{ jam }}</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h3>Silahkan Ambil Tiket Antrian Dibawah</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 text-center offset-3">
                <h2><strong>Tiket Antrian Digunakan Untuk Memasuki Ruang Layanan. Tiket Tidak Boleh Hilang</strong></h2>
            </div>
        </div>
        <!-- Button Kembali -->
        <div class="row mt-4">
            <div class="col-12 py-3">
                <a class="btn btn-primary" href="/" role="button">Kembali ke menu utama</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}