{% extends 'base_mqttgate.html' %}

{% block head %}
<title>Capture</title>
{% endblock %}

{% block body %}
<div class="container text-center" style="margin-top:150px">
    <div class="row mt-4">
        <div class="col-12">
            <h3><strong>Layanan {{ lay }}</strong></h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Nomor Antrian Anda adalah</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3><strong>{{ ks }} {{ antrian }}</strong></h3>
        </div>
    </div>
    <!-- QRCode ditampilkan -->
    <div class="row mt-4">
        <div class="col-12">                
            <img src="{{ url_for('static', filename=qr_code_path) }}" alt="QR Code" style="width: 200px;">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Mohon sabar menunggu</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>{{ jam }}</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Silahkan Ambil Tiket Antrian Dibawah</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 text-center offset-3">
            <h2><strong>Tiket Antrian Digunakan Untuk Memasuki Ruang Layanan. Tiket Tidak Boleh Hilang</strong></h2>
        </div>
    </div>
    <!-- Button Kembali -->
    <div class="row mt-4">
        <div class="col-12 py-3">
            <a class="btn btn-primary" href="/" role="button">Kembali ke menu utama</a>
        </div>
    </div>
</div>

<!--logo footer-->

<div class="row" style="margin-top:800px">
    <div class="col-5 offset-7 text-center">
        <img style="width: 2rem;" src="/static/images/logo-polda-jateng-113x84px.png" class="img-thumbnail">
        <p class="text-light"><strong>DIV IT POLRES PURWOREJO</strong></p>
        <p class="text-light"><strong>@2023</strong></p>
    </div>
</div>
{% endblock %}
