{% extends "base_mqttgate.html" %}

{% block head %}
<title>Beranda</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-5">
  <div class="container">
      <!-- logo -->
      <div class="row p-2">
          <div class="col-12 text-center">
              <img style="width: 9rem;" src="/static/images/Logo-Korlantas-400px.png" class="rounded mx-auto d-block">
          </div>
      </div>
      <!-- h2 -->
      <div class="row p-4">
          <div class="col-12 text-center">
              <h2>Selamat Datang Di Polres Purworejo</h2>
          </div>
      </div>
      <!-- h3 -->
      <div class="row p-4">
          <div class="col-12 text-center">
              <h3>Aman Damai Tentram Sejahtera dan Nyaman</h3>
          </div>
      </div>
      <!-- h4 -->
      <div class="row p-4">
          <div class="col-12 text-center">
              <h4>Silahkan tentukan keperluan Anda</h4>
          </div>
      </div>
  </div>
  <!-- endcontainer -->
  <div class="container offset-3">
      <div class="row mt-5">
          <div class="col-1">
              <img style="width: 50px;" src="/static/images/icon-sim-daftar.png" class="img-thumbnail">
          </div>
          <div class="col-5 d-grid gap-2">
              <a class="btn btn-warning" href="/daftar-baru" role="button">SIM BARU</a>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-1">
              <img style="width: 50px;" src="/static/images/icon-sim-perpanjang.png" class="img-thumbnail">
          </div>
          <div class="col-5 d-grid gap-2">
              <a class="btn btn-primary" href="/perpanjangan" role="button">PERPANJANGAN SIM</a>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-1">
              <img style="width: 50px;" src="/static/images/icon-sim-ujian.png" class="img-thumbnail">
          </div>
          <div class="col-5 d-grid gap-2">
              <a class="btn btn-success" href="/ujian-ulang" role="button">UJIAN ULANG</a>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-1">
              <img style="width: 50px;" src="/static/images/icon-sim-peningkatan.png" class="img-thumbnail">
          </div>
          <div class="col-5 d-grid gap-2">
              <a class="btn btn-danger" href="/peningkatan" role="button">PENINGKATAN SIM</a>
          </div>
      </div>
  </div>
</div>
{% endblock%}